<div id="bar">
    <div id="progress"></div>
</div>

<div id="form">
    <h1>Enquête minor Web Design & Development</h1>
    
    {{#if sent}}
        <div id="sent">
            <p>Enquête is verstuurd!</p>
        </div>
    {{/if}}
    
    <form action="/" method="post">
        <h2>Student</h2>
        <label for="naam"><strong>Naam</strong></label> <input type="text" id="naam" name="naam" value="{{resultaten.naam}}" required><br><br>
        <label for="studentnummer"><strong>Studentnummer</strong></label> <input type="number" id="studentnummer" name="studentnummer" value="{{resultaten.studentnummer}}" required><br><br>

        <hr>

        <h2>Vak 1</h2>
        <label for="naam-vak-1"><strong>Naam</strong></label> <input type="text" id="naam-vak-1" name="naam-vak-1"  value="{{resultaten.naam-vak-1}}" required><br><br>
        <label for="docenten-vak-1"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-1" name="docenten-vak-1"  value="{{resultaten.docenten-vak-1}}" required><br><br>
        <label for="week-vak-1"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-1" value="week-1-5-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-1-5-vak-1"}}checked{{/ifCond}}> <label for="week-1-5-vak-1">1-5</label><br>
            <input type="radio" id="week-6-vak-1" value="week-6-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-6-vak-1"}}checked{{/ifCond}}> <label for="week-6-vak-1">6</label><br>
            <input type="radio" id="week-7-9-vak-1" value="week-7-9-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-7-9-vak-1"}}checked{{/ifCond}}> <label for="week-7-9-vak-1">7-9</label><br>
            <input type="radio" id="week-10-vak-1" value="week-10-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-10-vak-1"}}checked{{/ifCond}}> <label for="week-10-vak-1">10</label><br>
            <input type="radio" id="week-11-13-vak-1" value="week-11-13-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-11-13-vak-1"}}checked{{/ifCond}}> <label for="week-11-13-vak-1">11-13</label><br>
            <input type="radio" id="week-15-19-vak-1" value="week-15-19-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-15-19-vak-1"}}checked{{/ifCond}}> <label for="week-15-19-vak-1">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-1"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-1" name="lesstof-vak-1" value="{{resultaten.lesstof-vak-1}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-1"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-1" name="uitleg-vak-1" value="{{resultaten.uitleg-vak-1}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-1"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-1" name="eigen-inzicht-vak-1" value="{{resultaten.eigen-inzicht-vak-1}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 2</h2>
        <label for="naam-vak-2"><strong>Naam</strong></label> <input type="text" id="naam-vak-2" name="naam-vak-2"  value="{{resultaten.naam-vak-2}}" required><br><br>
        <label for="docenten-vak-2"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-2" name="docenten-vak-2"  value="{{resultaten.docenten-vak-2}}" required><br><br>
        <label for="week-vak-2"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-2" value="week-1-5-vak-2" name="week-vak-2" required {{#ifCond resultaten.week-vak-2 "week-1-5-vak-2"}}checked{{/ifCond}}> <label for="week-1-5-vak-2">1-5</label><br>
            <input type="radio" id="week-6-vak-2" value="week-6-vak-2" name="week-vak-2" required {{#ifCond resultaten.week-vak-2 "week-6-vak-2"}}checked{{/ifCond}}> <label for="week-6-vak-2">6</label><br>
            <input type="radio" id="week-7-9-vak-2" value="week-7-9-vak-2" name="week-vak-2" required {{#ifCond resultaten.week-vak-2 "week-7-9-vak-2"}}checked{{/ifCond}}> <label for="week-7-9-vak-2">7-9</label><br>
            <input type="radio" id="week-10-vak-2" value="week-10-vak-2" name="week-vak-2" required {{#ifCond resultaten.week-vak-2 "week-10-vak-2"}}checked{{/ifCond}}> <label for="week-10-vak-2">10</label><br>
            <input type="radio" id="week-11-13-vak-2" value="week-11-13-vak-2" name="week-vak-2" required {{#ifCond resultaten.week-vak-2 "week-11-13-vak-2"}}checked{{/ifCond}}> <label for="week-11-13-vak-2">11-13</label><br>
            <input type="radio" id="week-15-19-vak-2" value="week-15-19-vak-2" name="week-vak-2" required {{#ifCond resultaten.week-vak-2 "week-15-19-vak-2"}}checked{{/ifCond}}> <label for="week-15-19-vak-2">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-2"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-2" name="lesstof-vak-2" value="{{resultaten.lesstof-vak-2}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-2"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-2" name="uitleg-vak-2" value="{{resultaten.uitleg-vak-2}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-2"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-2" name="eigen-inzicht-vak-2" value="{{resultaten.eigen-inzicht-vak-2}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 3</h2>
        <label for="naam-vak-3"><strong>Naam</strong></label> <input type="text" id="naam-vak-3" name="naam-vak-3"  value="{{resultaten.naam-vak-3}}" required><br><br>
        <label for="docenten-vak-3"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-3" name="docenten-vak-3"  value="{{resultaten.docenten-vak-3}}" required><br><br>
        <label for="week-vak-3"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-3" value="week-1-5-vak-3" name="week-vak-3" required {{#ifCond resultaten.week-vak-3 "week-1-5-vak-3"}}checked{{/ifCond}}> <label for="week-1-5-vak-3">1-5</label><br>
            <input type="radio" id="week-6-vak-3" value="week-6-vak-3" name="week-vak-3" required {{#ifCond resultaten.week-vak-3 "week-6-vak-3"}}checked{{/ifCond}}> <label for="week-6-vak-3">6</label><br>
            <input type="radio" id="week-7-9-vak-3" value="week-7-9-vak-3" name="week-vak-3" required {{#ifCond resultaten.week-vak-3 "week-7-9-vak-3"}}checked{{/ifCond}}> <label for="week-7-9-vak-3">7-9</label><br>
            <input type="radio" id="week-10-vak-3" value="week-10-vak-3" name="week-vak-3" required {{#ifCond resultaten.week-vak-3 "week-10-vak-3"}}checked{{/ifCond}}> <label for="week-10-vak-3">10</label><br>
            <input type="radio" id="week-11-13-vak-3" value="week-11-13-vak-3" name="week-vak-3" required {{#ifCond resultaten.week-vak-3 "week-11-13-vak-3"}}checked{{/ifCond}}> <label for="week-11-13-vak-3">11-13</label><br>
            <input type="radio" id="week-15-19-vak-3" value="week-15-19-vak-3" name="week-vak-3" required {{#ifCond resultaten.week-vak-3 "week-15-19-vak-3"}}checked{{/ifCond}}> <label for="week-15-19-vak-3">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-3"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-3" name="lesstof-vak-3" value="{{resultaten.lesstof-vak-3}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-3"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-3" name="uitleg-vak-3" value="{{resultaten.uitleg-vak-3}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-3"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-3" name="eigen-inzicht-vak-3" value="{{resultaten.eigen-inzicht-vak-3}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 4</h2>
        <label for="naam-vak-4"><strong>Naam</strong></label> <input type="text" id="naam-vak-4" name="naam-vak-4"  value="{{resultaten.naam-vak-4}}" required><br><br>
        <label for="docenten-vak-4"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-4" name="docenten-vak-4"  value="{{resultaten.docenten-vak-4}}" required><br><br>
        <label for="week-vak-4"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-4" value="week-1-5-vak-4" name="week-vak-4" required {{#ifCond resultaten.week-vak-4 "week-1-5-vak-4"}}checked{{/ifCond}}> <label for="week-1-5-vak-4">1-5</label><br>
            <input type="radio" id="week-6-vak-4" value="week-6-vak-4" name="week-vak-4" required {{#ifCond resultaten.week-vak-4 "week-6-vak-4"}}checked{{/ifCond}}> <label for="week-6-vak-4">6</label><br>
            <input type="radio" id="week-7-9-vak-4" value="week-7-9-vak-4" name="week-vak-4" required {{#ifCond resultaten.week-vak-4 "week-7-9-vak-4"}}checked{{/ifCond}}> <label for="week-7-9-vak-4">7-9</label><br>
            <input type="radio" id="week-10-vak-4" value="week-10-vak-4" name="week-vak-4" required {{#ifCond resultaten.week-vak-4 "week-10-vak-4"}}checked{{/ifCond}}> <label for="week-10-vak-4">10</label><br>
            <input type="radio" id="week-11-13-vak-4" value="week-11-13-vak-4" name="week-vak-4" required {{#ifCond resultaten.week-vak-4 "week-11-13-vak-4"}}checked{{/ifCond}}> <label for="week-11-13-vak-4">11-13</label><br>
            <input type="radio" id="week-15-19-vak-4" value="week-15-19-vak-4" name="week-vak-4" required {{#ifCond resultaten.week-vak-4 "week-15-19-vak-4"}}checked{{/ifCond}}> <label for="week-15-19-vak-4">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-4"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-4" name="lesstof-vak-4" value="{{resultaten.lesstof-vak-4}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-4"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-4" name="uitleg-vak-4" value="{{resultaten.uitleg-vak-4}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-4"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-4" name="eigen-inzicht-vak-4" value="{{resultaten.eigen-inzicht-vak-4}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 5</h2>
        <label for="naam-vak-5"><strong>Naam</strong></label> <input type="text" id="naam-vak-5" name="naam-vak-5"  value="{{resultaten.naam-vak-5}}" required><br><br>
        <label for="docenten-vak-5"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-5" name="docenten-vak-5"  value="{{resultaten.docenten-vak-5}}" required><br><br>
        <label for="week-vak-5"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-5" value="week-1-5-vak-5" name="week-vak-5" required {{#ifCond resultaten.week-vak-5 "week-1-5-vak-5"}}checked{{/ifCond}}> <label for="week-1-5-vak-5">1-5</label><br>
            <input type="radio" id="week-6-vak-5" value="week-6-vak-5" name="week-vak-5" required {{#ifCond resultaten.week-vak-5 "week-6-vak-5"}}checked{{/ifCond}}> <label for="week-6-vak-5">6</label><br>
            <input type="radio" id="week-7-9-vak-5" value="week-7-9-vak-5" name="week-vak-5" required {{#ifCond resultaten.week-vak-5 "week-7-9-vak-5"}}checked{{/ifCond}}> <label for="week-7-9-vak-5">7-9</label><br>
            <input type="radio" id="week-10-vak-5" value="week-10-vak-5" name="week-vak-5" required {{#ifCond resultaten.week-vak-5 "week-10-vak-5"}}checked{{/ifCond}}> <label for="week-10-vak-5">10</label><br>
            <input type="radio" id="week-11-13-vak-5" value="week-11-13-vak-5" name="week-vak-5" required {{#ifCond resultaten.week-vak-5 "week-11-13-vak-5"}}checked{{/ifCond}}> <label for="week-11-13-vak-5">11-13</label><br>
            <input type="radio" id="week-15-19-vak-5" value="week-15-19-vak-5" name="week-vak-5" required {{#ifCond resultaten.week-vak-5 "week-15-19-vak-5"}}checked{{/ifCond}}> <label for="week-15-19-vak-5">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-5"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-5" name="lesstof-vak-5" value="{{resultaten.lesstof-vak-5}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-5"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-5" name="uitleg-vak-5" value="{{resultaten.uitleg-vak-5}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-5"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-5" name="eigen-inzicht-vak-5" value="{{resultaten.eigen-inzicht-vak-5}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 6</h2>
        <label for="naam-vak-6"><strong>Naam</strong></label> <input type="text" id="naam-vak-6" name="naam-vak-6"  value="{{resultaten.naam-vak-6}}" required><br><br>
        <label for="docenten-vak-6"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-6" name="docenten-vak-6"  value="{{resultaten.docenten-vak-6}}" required><br><br>
        <label for="week-vak-6"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-6" value="week-1-5-vak-6" name="week-vak-6" required {{#ifCond resultaten.week-vak-6 "week-1-5-vak-6"}}checked{{/ifCond}}> <label for="week-1-5-vak-6">1-5</label><br>
            <input type="radio" id="week-6-vak-6" value="week-6-vak-6" name="week-vak-6" required {{#ifCond resultaten.week-vak-6 "week-6-vak-6"}}checked{{/ifCond}}> <label for="week-6-vak-6">6</label><br>
            <input type="radio" id="week-7-9-vak-6" value="week-7-9-vak-6" name="week-vak-6" required {{#ifCond resultaten.week-vak-6 "week-7-9-vak-6"}}checked{{/ifCond}}> <label for="week-7-9-vak-6">7-9</label><br>
            <input type="radio" id="week-10-vak-6" value="week-10-vak-6" name="week-vak-6" required {{#ifCond resultaten.week-vak-6 "week-10-vak-6"}}checked{{/ifCond}}> <label for="week-10-vak-6">10</label><br>
            <input type="radio" id="week-11-13-vak-6" value="week-11-13-vak-6" name="week-vak-6" required {{#ifCond resultaten.week-vak-6 "week-11-13-vak-6"}}checked{{/ifCond}}> <label for="week-11-13-vak-6">11-13</label><br>
            <input type="radio" id="week-15-19-vak-6" value="week-15-19-vak-6" name="week-vak-6" required {{#ifCond resultaten.week-vak-6 "week-15-19-vak-6"}}checked{{/ifCond}}> <label for="week-15-19-vak-6">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-6"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-6" name="lesstof-vak-6" value="{{resultaten.lesstof-vak-6}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-6"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-6" name="uitleg-vak-6" value="{{resultaten.uitleg-vak-6}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-6"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-6" name="eigen-inzicht-vak-6" value="{{resultaten.eigen-inzicht-vak-6}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 7</h2>
        <label for="naam-vak-7"><strong>Naam</strong></label> <input type="text" id="naam-vak-7" name="naam-vak-7"  value="{{resultaten.naam-vak-7}}" required><br><br>
        <label for="docenten-vak-7"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-7" name="docenten-vak-7"  value="{{resultaten.docenten-vak-7}}" required><br><br>
        <label for="week-vak-7"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-7" value="week-1-5-vak-7" name="week-vak-7" required {{#ifCond resultaten.week-vak-7 "week-1-5-vak-7"}}checked{{/ifCond}}> <label for="week-1-5-vak-7">1-5</label><br>
            <input type="radio" id="week-6-vak-7" value="week-6-vak-7" name="week-vak-7" required {{#ifCond resultaten.week-vak-7 "week-6-vak-7"}}checked{{/ifCond}}> <label for="week-6-vak-7">6</label><br>
            <input type="radio" id="week-7-9-vak-7" value="week-7-9-vak-7" name="week-vak-7" required {{#ifCond resultaten.week-vak-7 "week-7-9-vak-7"}}checked{{/ifCond}}> <label for="week-7-9-vak-7">7-9</label><br>
            <input type="radio" id="week-10-vak-7" value="week-10-vak-7" name="week-vak-7" required {{#ifCond resultaten.week-vak-7 "week-10-vak-7"}}checked{{/ifCond}}> <label for="week-10-vak-7">10</label><br>
            <input type="radio" id="week-11-13-vak-7" value="week-11-13-vak-7" name="week-vak-7" required {{#ifCond resultaten.week-vak-7 "week-11-13-vak-7"}}checked{{/ifCond}}> <label for="week-11-13-vak-7">11-13</label><br>
            <input type="radio" id="week-15-19-vak-7" value="week-15-19-vak-7" name="week-vak-7" required {{#ifCond resultaten.week-vak-7 "week-15-19-vak-7"}}checked{{/ifCond}}> <label for="week-15-19-vak-7">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-7"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-7" name="lesstof-vak-7" value="{{resultaten.lesstof-vak-7}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-7"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-7" name="uitleg-vak-7" value="{{resultaten.uitleg-vak-7}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-7"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-7" name="eigen-inzicht-vak-7" value="{{resultaten.eigen-inzicht-vak-7}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 8</h2>
        <label for="naam-vak-8"><strong>Naam</strong></label> <input type="text" id="naam-vak-8" name="naam-vak-8"  value="{{resultaten.naam-vak-8}}" required><br><br>
        <label for="docenten-vak-8"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-8" name="docenten-vak-8"  value="{{resultaten.docenten-vak-8}}" required><br><br>
        <label for="week-vak-8"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-8" value="week-1-5-vak-8" name="week-vak-8" required {{#ifCond resultaten.week-vak-8 "week-1-5-vak-8"}}checked{{/ifCond}}> <label for="week-1-5-vak-8">1-5</label><br>
            <input type="radio" id="week-6-vak-8" value="week-6-vak-8" name="week-vak-8" required {{#ifCond resultaten.week-vak-8 "week-6-vak-8"}}checked{{/ifCond}}> <label for="week-6-vak-8">6</label><br>
            <input type="radio" id="week-7-9-vak-8" value="week-7-9-vak-8" name="week-vak-8" required {{#ifCond resultaten.week-vak-8 "week-7-9-vak-8"}}checked{{/ifCond}}> <label for="week-7-9-vak-8">7-9</label><br>
            <input type="radio" id="week-10-vak-8" value="week-10-vak-8" name="week-vak-8" required {{#ifCond resultaten.week-vak-8 "week-10-vak-8"}}checked{{/ifCond}}> <label for="week-10-vak-8">10</label><br>
            <input type="radio" id="week-11-13-vak-8" value="week-11-13-vak-8" name="week-vak-8" required {{#ifCond resultaten.week-vak-8 "week-11-13-vak-8"}}checked{{/ifCond}}> <label for="week-11-13-vak-8">11-13</label><br>
            <input type="radio" id="week-15-19-vak-8" value="week-15-19-vak-8" name="week-vak-8" required {{#ifCond resultaten.week-vak-8 "week-15-19-vak-8"}}checked{{/ifCond}}> <label for="week-15-19-vak-8">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-8"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-8" name="lesstof-vak-8" value="{{resultaten.lesstof-vak-8}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-8"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-8" name="uitleg-vak-8" value="{{resultaten.uitleg-vak-8}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-8"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-8" name="eigen-inzicht-vak-8" value="{{resultaten.eigen-inzicht-vak-8}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 9</h2>
        <label for="naam-vak-9"><strong>Naam</strong></label> <input type="text" id="naam-vak-9" name="naam-vak-9"  value="{{resultaten.naam-vak-9}}" required><br><br>
        <label for="docenten-vak-9"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-9" name="docenten-vak-9"  value="{{resultaten.docenten-vak-9}}" required><br><br>
        <label for="week-vak-9"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-9" value="week-1-5-vak-9" name="week-vak-9" required {{#ifCond resultaten.week-vak-9 "week-1-5-vak-9"}}checked{{/ifCond}}> <label for="week-1-5-vak-9">1-5</label><br>
            <input type="radio" id="week-6-vak-9" value="week-6-vak-9" name="week-vak-9" required {{#ifCond resultaten.week-vak-9 "week-6-vak-9"}}checked{{/ifCond}}> <label for="week-6-vak-9">6</label><br>
            <input type="radio" id="week-7-9-vak-9" value="week-7-9-vak-9" name="week-vak-9" required {{#ifCond resultaten.week-vak-9 "week-7-9-vak-9"}}checked{{/ifCond}}> <label for="week-7-9-vak-9">7-9</label><br>
            <input type="radio" id="week-10-vak-9" value="week-10-vak-9" name="week-vak-9" required {{#ifCond resultaten.week-vak-9 "week-10-vak-9"}}checked{{/ifCond}}> <label for="week-10-vak-9">10</label><br>
            <input type="radio" id="week-11-13-vak-9" value="week-11-13-vak-9" name="week-vak-9" required {{#ifCond resultaten.week-vak-9 "week-11-13-vak-9"}}checked{{/ifCond}}> <label for="week-11-13-vak-9">11-13</label><br>
            <input type="radio" id="week-15-19-vak-9" value="week-15-19-vak-9" name="week-vak-9" required {{#ifCond resultaten.week-vak-9 "week-15-19-vak-9"}}checked{{/ifCond}}> <label for="week-15-19-vak-9">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-9"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-9" name="lesstof-vak-9" value="{{resultaten.lesstof-vak-9}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-9"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-9" name="uitleg-vak-9" value="{{resultaten.uitleg-vak-9}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-9"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-9" name="eigen-inzicht-vak-9" value="{{resultaten.eigen-inzicht-vak-9}}" min="1" max="10" required><br><br>

        <hr>

        <h2>Vak 10</h2>
        <label for="naam-vak-10"><strong>Naam</strong></label> <input type="text" id="naam-vak-10" name="naam-vak-10"  value="{{resultaten.naam-vak-10}}" required><br><br>
        <label for="docenten-vak-10"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-10" name="docenten-vak-10"  value="{{resultaten.docenten-vak-10}}" required><br><br>
        <label for="week-vak-10"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-10" value="week-1-5-vak-10" name="week-vak-10" required {{#ifCond resultaten.week-vak-10 "week-1-5-vak-10"}}checked{{/ifCond}}> <label for="week-1-5-vak-10">1-5</label><br>
            <input type="radio" id="week-6-vak-10" value="week-6-vak-10" name="week-vak-10" required {{#ifCond resultaten.week-vak-10 "week-6-vak-10"}}checked{{/ifCond}}> <label for="week-6-vak-10">6</label><br>
            <input type="radio" id="week-7-9-vak-10" value="week-7-9-vak-10" name="week-vak-10" required {{#ifCond resultaten.week-vak-10 "week-7-9-vak-10"}}checked{{/ifCond}}> <label for="week-7-9-vak-10">7-9</label><br>
            <input type="radio" id="week-10-vak-10" value="week-10-vak-10" name="week-vak-10" required {{#ifCond resultaten.week-vak-10 "week-10-vak-10"}}checked{{/ifCond}}> <label for="week-10-vak-10">10</label><br>
            <input type="radio" id="week-11-13-vak-10" value="week-11-13-vak-10" name="week-vak-10" required {{#ifCond resultaten.week-vak-10 "week-11-13-vak-10"}}checked{{/ifCond}}> <label for="week-11-13-vak-10">11-13</label><br>
            <input type="radio" id="week-15-19-vak-10" value="week-15-19-vak-10" name="week-vak-10" required {{#ifCond resultaten.week-vak-10 "week-15-19-vak-10"}}checked{{/ifCond}}> <label for="week-15-19-vak-10">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-10"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-10" name="lesstof-vak-10" value="{{resultaten.lesstof-vak-10}}" min="1" max="10" required><br><br>
        <label for="uitleg-vak-10"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-10" name="uitleg-vak-10" value="{{resultaten.uitleg-vak-10}}" min="1" max="10" required><br><br>
        <label for="eigen-inzicht-vak-10"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-10" name="eigen-inzicht-vak-10" value="{{resultaten.eigen-inzicht-vak-10}}" min="1" max="10" required><br><br>

        <button type="submit">Verstuur</button>
    </form>

    <form action="/reset" method="post">
        <br><button type="submit" id="reset">Reset</button>
    </form>
</div>