<div id="form">
    <h1>Enquête Minor Web Design & Development</h1>
    <form action="/" method="post">
        <h2>Student</h2>
        <label for="naam"><strong>Naam</strong></label> <input type="text" id="naam" name="naam" value="{{resultaten.naam}}" required><br><br>
        <label for="studentnummer"><strong>Studentnummer</strong></label> <input type="number" id="studentnummer" name="studentnummer" value="{{resultaten.studentnummer}}" required><br><br>

        <hr>

        <h2>Vak 1</h2>
        <label for="naam-vak-1"><strong>Naam</strong></label> <input type="text" id="naam-vak-1" name="naam-vak-1"  value="{{resultaten.naam-vak-1}}" required><br><br>
        <label for="docenten-vak-1"><strong>Docenten</strong></label> <input type="text" id="docenten-vak-1" name="docenten-vak-1"  value="{{resultaten.docenten-vak-1}}" required><br><br>
        <label for="week-vak-1"><strong>Week</strong></label>
        <div>
            <input type="radio" id="week-1-5-vak-1" value="week-1-5-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-1-5-vak-1"}}checked{{/ifCond}}> <label for="week-1-5-vak-1">1-5</label><br>
            <input type="radio" id="week-6-vak-1" value="week-6-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-6-vak-1"}}checked{{/ifCond}}> <label for="week-6-vak-1">6</label><br>
            <input type="radio" id="week-7-9-vak-1" value="week-7-9-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-7-9-vak-1"}}checked{{/ifCond}}> <label for="week-7-9-vak-1">7-9</label><br>
            <input type="radio" id="week-10-vak-1" value="week-10-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-10-vak-1"}}checked{{/ifCond}}> <label for="week-10-vak-1">10</label><br>
            <input type="radio" id="week-11-13-vak-1" value="week-11-13-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-11-13-vak-1"}}checked{{/ifCond}}> <label for="week-11-13-vak-1">11-13</label><br>
            <input type="radio" id="week-15-19-vak-1" value="week-15-19-vak-1" name="week-vak-1" required {{#ifCond resultaten.week-vak-1 "week-15-19-vak-1"}}checked{{/ifCond}}> <label for="week-15-19-vak-1">15-19</label><br><br>
        </div>
        <label for="lesstof-vak-1"><strong>Moeilijkheid van lesstof</strong> (1-10)</label> <input type="number" id="lesstof-vak-1" name="lesstof-vak-1" value="{{resultaten.lesstof-vak-1}}" min="1" max="10"><br><br>
        <label for="uitleg-vak-1"><strong>Duidelijkheid van uitleg</strong> (1-10)</label> <input type="number" id="uitleg-vak-1" name="uitleg-vak-1" value="{{resultaten.uitleg-vak-1}}" min="1" max="10"><br><br>
        <label for="eigen-inzicht-vak-1"><strong>Mate van eigen inzicht</strong> (1-10)</label> <input type="number" id="eigen-inzicht-vak-1" name="eigen-inzicht-vak-1" value="{{resultaten.eigen-inzicht-vak-1}}" min="1" max="10"><br><br>

        <button type="submit">Verstuur</button>
    </form>
</div>